@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.no-scrollbar::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}

body{
    background: #1b1f24;
    font-family: Spacegrotesk, sans-serif;
}